<nav class="navbar transparent  navbar-expand-lg ">
    <a class="navbar-brand" href="#">
      <img src="https://image.flaticon.com/icons/png/512/36/36447.png" width="30" height="30" class="d-inline-block align-top" alt="">
      LifeMatch
    </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse d-flex justify-content-end" id="conteudoNavbarSuportado">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Email" aria-label="Email">
          <input class="form-control mr-sm-2" type="search" placeholder="Senha" aria-label="Senha">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Entrar</button>
        </form>
      </div>
    </nav>
  