<div class="container">
    <div class="background-img">
        <div class="background-img">

            <h1>Sejam bem vindes ao LifeMatch</h1>
            <div class="row d-flex justify-content-center">
                <button class="entrar" 
                routerLink='/feed'>Cadastrar</button>
    
            </div>
            <p>.</p>
            <p>.</p>
 <!--jumbotron-->
 <div class="jumbotron" id="jumbo">
    <table id="white" class="table table-condensed" id="table">
        <tbody>
            <!--Sobre nós-->
            
            <div class="col-md-9 text-justify mt-2 text-white ">
                <h1>Quem Somos</h1>
                <h3  style="color:#1900fb">"Ligamos a vontade com a necessidade de ajudar"</h3>
                <p>
                  A solidariedade trás a esperança em tornar tudo possível. As oportunidades surgem, as portas se abrem e os sonhos se
                  tornam realidade. Nossa tecnologia, que começou como uma simples forma de ligar as pessoas que querem ajudar com pessoas que necessitam de ajuda,
                   possibilita conexões entre pessoas e uma nova forma de obter ajuda.
                </p>
                <h3>Missão</h3>
                <p> A missão da LifeMatch é inovar e facilitar a forma de ajudar.
                 </p>
                <h3>Visão</h3>
                <p> Ser a maior e melhor plataforma de solidariedade, visando a construção de um modelo de ajuda na localização que o usuário quiser.</p>        
              </div>
              
        </tbody>
    </table>
</div>
</div>

<!--/Sobre nós-->
  <!--/jumbotron-->

  <!--Depoimentos-->
  <div class="col-md-12 text-justify mt-2 text-dark ">
    <h1>Depoimentos</h1>
    
    <div style="overflow-x: auto">
      
        <div class="conteudo">
          <div class="card">Claudia Silva
              <p></p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident iste dolorem ex consectetur eligendi excepturi illo quisquam repellat minus voluptatum ratione, nam nemo eum incidunt tempore dolorum alias. Mollitia, ut.</p>
          </div>
          <div class="card p-3">
            <h5>Roberto Nascimento</h5> 
            <p></p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident iste dolorem ex consectetur eligendi excepturi illo quisquam repellat minus voluptatum ratione, nam nemo eum incidunt tempore dolorum alias. Mollitia, ut.</p>
          </div>
          <div class="card p-3">
            <h5>ONG</h5> 
            <p></p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident iste dolorem ex consectetur eligendi excepturi illo quisquam repellat minus voluptatum ratione, nam nemo eum incidunt tempore dolorum alias. Mollitia, ut.</p>
          </div>
          <div class="card p-3">
            <h5>Roberto Nascimento</h5> 
            <p></p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident iste dolorem ex consectetur eligendi excepturi illo quisquam repellat minus voluptatum ratione, nam nemo eum incidunt tempore dolorum alias. Mollitia, ut.</p>
          </div>
          <div class="card p-3">
            <h5>Roberto Nascimento</h5> 
            <p></p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident iste dolorem ex consectetur eligendi excepturi illo quisquam repellat minus voluptatum ratione, nam nemo eum incidunt tempore dolorum alias. Mollitia, ut.</p>
          </div>
          <div class="card p-3">
            <h5>Roberto Nascimento</h5> 
            <p></p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident iste dolorem ex consectetur eligendi excepturi illo quisquam repellat minus voluptatum ratione, nam nemo eum incidunt tempore dolorum alias. Mollitia, ut.</p>
          </div>
          <div class="card p-3">
            <h5>Roberto Nascimento</h5> 
            <p></p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident iste dolorem ex consectetur eligendi excepturi illo quisquam repellat minus voluptatum ratione, nam nemo eum incidunt tempore dolorum alias. Mollitia, ut.</p>
          </div>
          
        </div>
    </div>
</div>
<!--/Depoimentos-->
 <!--Formulário de contato-->
 <div id="contato" class="container">
  <div class="row">
    <div class="col">

      <div class="row d-flex mt-3 align-items-center">
        <div class="col-md-9">
          <form>
            <h3 class="center">Entre em contato conosco</h3>
            <div class="form-group">
              <label for="nome">Nome:</label> <br>
              <input type="text" id="nome" onkeyup='validaNome()'>
              <div id='txtNome'></div>
            <div class="form-group">
              <label for="exampleFormControlInput1">e-mail</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">
            </div>
            
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Assunto</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button onclick="enviar()">Enviar</button>
            
            </div>
          </form>
        </div>

      </div>
    </div>

  </div>


  <!--/Formulário de contato-->
          
                
          
            
        
        
    </div>

</div>